.header {
  text-align: center;
  background-color: rgb(255, 224, 84);
}

.title {
  margin: 0;
  padding: 8px 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 430px) {
  .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 385px) {
  .title {
    padding: 4px;
  }
}
